body
{
    background-color: green;
}
.theMessage
{
    width: 10em;
    height: 5em;

    background-color: black;
}
.messageTwo
{
    background-color: gray;
}
.messageThree
{
    background-color: white;
}
